recursive-include pretalx_media_ccc_de/static *
recursive-include pretalx_media_ccc_de/templates *
exclude pretalx_media_ccc_de/locale/django.pot
recursive-include pretalx_media_ccc_de/locale *
recursive-include pretalx_media_ccc_de/ *.py
include Makefile
