{% extends "orga/base.html" %}
{% load i18n %}

{% block content %}
    <h2 class="page-heading">{% trans "Set up media.ccc.de sync" %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {% include "orga/includes/submit_row.html" with submit_buttons=settings_buttons %}
    </form>

    {% if url_form %}
        <h3>{% trans "Change URLs" %}</h3>

        {% include "orga/includes/base_form.html" with form=url_form submit_buttons=url_form_buttons %}
    {% endif %}
{% endblock %}
